
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}


.modal-container {
    background: white;
    width: 420px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease-in-out;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h3 {
    margin: 0;
    font-size: 20px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #444;
}
.close-btn:hover {
    color: black;
    transform: scale(1.1);
}


.modal-form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-form label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #444;
    gap: 4px;
}

.modal-form input,
.modal-form textarea {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
}
.modal-form textarea {
    min-height: 70px;
    resize: vertical;
}


.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.btn-primary {
    background: #007bff;
    border: none;
    padding: 8px 14px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #005fcc;
}

.btn {
    background: #ccc;
    border: none;
    padding: 8px 14px;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #b7b7b7;
}

/* Fade animation */
@keyframes fadeIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
